footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #383838;
}
/* div q segura tudo */
.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-content .logo{
    height: 160px;
}
/* div q segura todas os ul */
.footer-ul-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
/* ul */
.category{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    list-style: none;
}
/* Li title */
.category-title{
    grid-column: span 2;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
/* li links a */
.category .footer-link{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255, .75);
}
.category .footer-link:hover{
    color: #fff;
}
/* sobre = p */
.footer-title,.info{
    color: rgba(255, 255, 255, .75);
    margin: 20px 0;
    text-transform: capitalize;
}
/* Email */
.info:nth-of-type(3){
    text-transform: initial;
}
.info:nth-of-type(3) span{
    text-decoration: underline;
    font-weight: 700;
}
.footer-title{
    margin-top: 80px;
    color: #fff;
}
/* texto social = q segura tudo*/
.footer-social-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
/* a */
.social-link{
    color: rgba(255, 255, 255, .75);
    margin-left: 20px;
    text-transform: capitalize;
}
.social-link:nth-child(1){
    margin-left: 0;
}
.working-link{
    color: #fff;
}
/* final footer q destaca o nome */
.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .2);
}



@media (max-width: 700px){
    .footer-content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-content .logo{
        height: 100px;
    }
    .footer-ul-container {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .social-link {
      margin-left: 1px;
    }
}