/* Tag q segura tudo */
.search-results{
    width: 100%;
    padding: 60px 0;
}

/* h2 */
.heading{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 10vw;
}

.heading span{
    font-weight: 700;
}
/* Mudar o layout dos produtos */
.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: auto;
    gap: 40px;
}