/* Tag q segura tudo */
.search-results{
    width: 100%;
    padding: 60px 0;
}

/* h2 */
.heading{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 10vw;
}

.heading span{
    font-weight: 700;
}
/* Mudar o layout dos produtos */
.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: auto;
    gap: 40px;
}

@media (max-width: 1400px) {
    .product-container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 1030px) {
    .product-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 660px) {
    .product-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        overflow: hidden;
    }
}